body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
}

/* HEADER */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 40px;
    background-color: #6e0f1a;
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

/* HERO */
.hero {
    height: 320px;
    background-image: url("cozia.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

/* CARD SECTION */
.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 60px 20px;
    flex-wrap: wrap;
}